.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.AI-Container{
    border-radius: 15px 15px 0px 0px;
    padding: 2rem;
    background: #f4f6fb;
    color: #202125;

}

#ai-text{
    padding: 15px;
    font-size: 1.4rem;
    line-height: 1.6;
}

.result-container{
    background: white;
    padding-bottom: 30px;
}

.AI-Search-Results{
    padding: 25px 20px 15px 40px ;
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
    text-decoration: none;
}

#results-link{
    color: gray;
}

#results-header{
    font-size: 25px;
    font-weight: 900;
    color: black;
}

#results-description{
    font-weight: 400;
    color: #7f7f7f
}