.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.loading-container.visible {
  visibility: visible;
  opacity: 1;
}

.loading-text {
  color: white;
  margin-bottom: 10px;
  align-self: start;
  padding-left: 10rem;
}

.loading-box {
  width: 100%;
  max-width: 70%;
  height: 20px;
  border-radius: 10px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;

}

@media (max-width: 767px) {
  .loading-box {
    height: 15px;
  }
}

.loading-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, rgba(76, 175, 80, 0), #870000,  rgba(76, 175, 80, 0));
  animation: loading-box 1.3s infinite ease-in-out;
}

@keyframes loading-box {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

