.navBar2 {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between items */
    padding: 20px 0 0; /* Combined padding for readability */
    width: 100%; /* Full width */
    margin: 0;
}

#newsLink {
    text-align: center; /* Center the text */
    flex-grow: 1; /* Allow News to take up available space */
    font-family: 'Roboto', sans-serif;
    margin-left: 260px;
}

.navBar2 a {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 30px;
    /* text-shadow: 5px 5px 5px black; */
}

.navBar2 a:hover {
    color: red;
}

.navBar2 .active a {
    color: red; /* Highlight color for active link */
    font-weight: bold; /* Optional: make active link bold */
    text-shadow: none; /* Optional: remove text shadow for active link */
}

#agentLink {
    margin-right: 15em; /* Pushes the agent link to the right */
}

#agentLink img {
    width: 50px; /* Fixed width for the icon */
    height: auto; /* Maintain aspect ratio */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    #newsLink {
        margin-left: 5em;
    }
    #agentLink{
        margin-right: 2em;
    }
}

@media (max-width: 480px) {
    #newsLink {
        margin-left: 4em;
    }
    #agentLink{
        margin-right: 2em;
    }
}