.navBar2{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 2em;
    justify-content: space-around;
}

.navBar2 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navBar2 a:hover{
    color: red;
}