.navBar2 {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between items */
    padding: 20px 10px; /* Combined padding for readability */
    width: 100%; /* Full width */
    margin: 0;
}

#newsLink {
    text-align: center; /* Center the text */
    flex-grow: 1; /* Allow News to take up available space */
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
}

.navBar2 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

.navBar2 a:hover {
    color: red;
}

.navBar2 .active a {
    color: red; /* Highlight color for active link */
    font-weight: bold; /* Optional: make active link bold */
    text-shadow: none; /* Optional: remove text shadow for active link */
}

#agentLink {
    margin-right: 13em; /* Pushes the agent link to the right */
}

#agentLink img {
    width: 50px; /* Fixed width for the icon */
    height: auto; /* Maintain aspect ratio */
}
