/* Add your custom CSS styles here */
body{
  background-repeat: no-repeat;
  background-image: linear-gradient(#8E0000, black 30%);
  min-height: 100vh;
  width: auto;
}

.fa-search{
  color: white;
}

h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}

.box-container{
  display: flex;
  align-self: flex-start;
  padding: 10px 0 10px 125px;
}

.rounded-box {
  width: 100px;
  height: 60px;
  background: linear-gradient(to bottom, #a70000 50%, #610000 50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  border: 1px solid #ffffff;
}

.month-year {
  font-size: 1rem;
}

.year {
  font-size: 1rem;
}

#news{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-container{
  max-height: 10vh;
  min-width: 50vw;
  justify-content: space-between;
  border-radius: 1.1rem;
  background-color: #1A1A1A;
  padding: 30px;
  font-size: 1.3rem;
  margin: 10px 0 10px 0;

}

.time{
  font-size: 1.8rem;
  color:#aeaeae
}

.headline{
  padding-top: 5px;
  padding-left: 15px;
  font-weight: 900;
  font-size: 1.2rem;
  color: white;
}

.news{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color:#aeaeae;
}

a{
  color: #aeaeae;
  padding-left: 15px;
  text-decoration: none;
}

a:hover{
  color: red;
}

#info{
  color: white;
}


.see-more{
  display: flex;
  justify-content: center;
}

.see-more button {
  background-color: #FF0000;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
  margin-top: 1rem;
}

.search-container {
  margin: 3vh;
  border-radius: 1.1rem;
  background-color: #1A1A1A;
  padding: 10px;
}

.inner-search {
  background-color: #0F0F0F;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.inner-search input {
  border: none;
  flex-grow: 1;
  font-size: 20px;
  background-color: #0F0F0F;
  padding-left: 5px;
}

.inner-search ::placeholder{
  color: rgb(117, 117, 117);
}

input[type=text] {
  color: white;
}

.inner-search button {
  background-color: #FF0000;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
}

.output{
  color: white;
}

.grecaptcha-badge { visibility: hidden; }